<div class="navbar navbar-inverse sticky-top py-4 stiky-top" role="navigation">
   <div class="navbar-header">
     <h3><a class="text-decoration-none" href="/"><%= Rails.application.class.parent_name %></a></h3>
   </div>
   <ul class="nav navbar-nav">
   </ul>
   <div class="nav navbar-nav navbar-right">
     <div class="d-flex">
       <% if user_signed_in? %>
         <%= link_to '<i class="fas fa-user"></i>'.html_safe, edit_user_registration_path, class:'btn btn-info btn-lg btn-rounded mr-2' %>
         <%= link_to "<i class='fas fa-sign-out-alt'></i>".html_safe , destroy_user_session_path, method: :delete, class:'btn btn-danger btn-rounded btn-lg mr-2'  %>
       <% else %>
         <%= link_to "Sign In", user_session_path, class:'btn btn-success btn-lg mr-2' %>
         <%= link_to "Register", new_user_registration_path, class:'btn btn-primary btn-lg' %>
       <% end %>
     </div>
   </div>
</div>
